* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.lightblue {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background: #89CFF0;
    z-index: -1;
}

.blue {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background: #7393B3;
    z-index: -1;
}

.header {
    display: inline-block;
    width: 100%;
}

.childheader {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

.logoanchor {
    display: inline-flex;
    align-items: center;
}

.anchors {
    margin-left: 50px;
}

.anchors a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0 10px;
}

.join {
    display: flex;
    align-items: center;
}

.join button {
    padding: 10px 15px;
    font-weight: bold;
    color: #7393B3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.child-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h1 {
    font-size: 4em;
    font-family: Arial;
    margin: 5px 0;
}

.text h1 span {
    color: #7393B3;
}

.location {
    margin-top: 50px;
}

.src {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
}

.src input {
    background: none;
    padding: 10px;
    outline: none;
    border: none;
}

.src select {
    border: none;
    width: 150px;
    font-family: Arial, sans-serif;
    background: none;
    outline: none;
}

.src > div {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.src > div > img {
    width: 30px;
    margin-right: 5px;
}

.src > div:nth-child(1) {
    border-right: 1px solid grey;
}

.location button {
    padding: 15px 20px;
    border: none;
    font-weight: bold;
    background: #7393B3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.location > div:nth-child(3) {
    margin-right: 0;
}

.image .man {
    width: 500px;
}

.image .pattern {
    width: 150px;
    position: absolute;
    top: 50%;
    right: 150px;
    filter: invert(100%);
    z-index: -1;
}

.join img {
    display: none;
}

.aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    display: none;
}

.aside.show {
    display: block;
}

.elements {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elements .contents a {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
}

.exit {
    margin: 10px;
    color: #fff;
}

.exit img {
    filter: invert(100%);
    width: 3em;
    cursor: pointer;
}

@media only screen and (max-width: 1130px) {
    .image .man {
        width: 400px;
    }
}

@media only screen and (max-width: 964px) {
    .image .man {
        width: 350px;
    }
}


@media only screen and (max-width: 900px) {
    .childheader {
        width: 95%;
        padding: 10px;
        margin: 10px auto;
    }

    .child-content {
        width: 100%;
        padding: 10px;
    }

    .text {
        width: 100%;
    }

    .anchors {
        display: none;
    }

    .image img {
        width: 100%;
        display: none;
    }

    .text h1  {
        font-size: 3.7em;
        width: auto;
    }

    .lightblue {
        width: 100%;
        height: 50%;
    }

    .blue {
        top: 50%;
        width: 100%;
        height: 50%;
    }

    .location {
        margin-top: 100px;
        /* width: 100%; */
    }

    .src {
        display: block;
        padding: 10px 0;
    }

    .src input {
        width: 90%;
    }

    .src select {
        width: 100%;
        margin: 10px 0;
    }

    .src button {
        width: 100%;
        margin-top: 20px;
    }

    .src > div:nth-child(1) {
        border-right: none;
    }

    .join img {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 767px) {
    .text h1 {
        font-size: 2.5em;
        line-height: 40px;
        letter-spacing: 2px;
    }
}